.hero {
    height: 100vh;
    object-fit: cover;
    background-size: cover;

}

@media screen and (max-width:992px) {
    .hero {
        width:620px;
        margin: 0 auto;
        text-align: center;
    }
}