.promofather {
  padding: 100px 70px;
  margin: 0 auto;

}

.ptitle {
  color: #DF6951;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 1.8px;
  text-transform: uppercase;
}

.provide {
  color: #181E4B;
  font-size: 39px;
  font-weight: 700;
  line-height: 48px;
}

.promodescrip {
  color: #2F2F2F;
  text-align: justify;
  font-size: 16px;
  font-weight: 400;
  line-height: 29px;
}

.percent h1 {
  color: #7D7D7D;
  text-align: center;
  font-size: 30px;
  font-weight: 400px;
}

.percent p {
  color: #181E4B;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 1.8px;
  text-transform: uppercase;
}

.stamp img {
  width: 458px;
  height: 569px;
  flex-shrink: 0;
}